
<style>
  nz-table tr {
    height: 45px; /* Set a fixed row height */
  }
</style>

<nz-card [nzTitle]="titleTemplate" nzSize="small" [nzExtra]="extraTemplate" nzType="inner" [nzBodyStyle]='{ "padding": 0}'>
  <nz-table #applicationsTable [nzData]="applications" nzSize="small" [nzFrontPagination]="false" [nzShowPagination]="false">
    <thead>
      <tr>
        <th [nzChecked]="allChecked"
            [nzDisabled]="disabled || applications.length === 0"
            (nzCheckedChange)="onAllChecked($event)"
            nzWidth="tw-w-1/12"
        >
        </th>
        <th class="tw-w-1/2 lg:tw-w-1/3 xl:tw-w-2/12">Application</th>
        <th class="tw-w-1/2 lg:tw-w-1/3 xl:tw-w-2/12">Device Id Prefix</th>
        <th class="tw-hidden xl:tw-table-cell xl:tw-w-4/12">Application Access Token</th>
        <th class="tw-hidden lg:tw-table-cell lg:tw-w-1/3 xl:tw-w-1/12">Enabled</th>
      </tr>
    </thead>
    <tbody>
      @for (application of applicationsTable.data; track application) {
        <tr>
          <td [nzChecked]="checkedApplications.has(application.applicationId)" (nzCheckedChange)="onItemChecked(application.applicationId, $event)"></td>
          <td>
            <a (click)="showModal(application.applicationId)" >
              <span class="tw-text-gray-700 tw-font-semibold">
                @if ( application.applicationName ) {
                  {{ application.applicationName }}
                } @else {
                  {{ application.applicationId }}
                }
              </span>
            </a>
            @if ( application.applicationName ) {
              <div class="tw-text-gray-500">{{ application.applicationId }}</div>
            }
          </td>
          <td>{{ application.deviceIdPrefix }}</td>
          <td class="tw-hidden xl:tw-table-cell">
            @if (application.accessToken) {
            <div nz-row>
              <div nz-col nzFlex="1">
                <span (click)="tokenVisible[application.applicationId] = !tokenVisible[application.applicationId]"><fa-icon [icon]="tokenVisible[application.applicationId] ? faEyeSlash : faEye"></fa-icon></span>
              </div>
              <div nz-col nzFlex="22" style="margin: 0">
                <nz-skeleton style="margin: 0; max-width: 440px" [nzLoading]="!tokenVisible[application.applicationId]" [nzParagraph]="false">
                  <pre style="margin: 0"><code>{{application.accessToken}}</code></pre>
                </nz-skeleton>
              </div>
            </div>
            }
          </td>
          <td class="tw-hidden lg:tw-table-cell">
            @let serverId = parseEncodedToken(application.accessToken, null).serverId;
            <a href="https://{{serverId}}/applications/{{application.applicationId}}" target="_blank">{{serverId}}</a>
          </td>
          <td class="tw-hidden lg:tw-table-cell">
            <nz-switch nzSize="small" [(ngModel)]="application.enabled" (ngModelChange)="onSwitchChange(application.applicationId, $event)"></nz-switch>
          </td>
        </tr>
      }
      <ng-content></ng-content>
    </tbody>
  </nz-table>
</nz-card>
<ng-template #titleTemplate>
    <span class="tw-mr-2">
      <fa-icon [icon]="faLayerGroup"></fa-icon>
    </span>
  <span class="tw-font-bold">Applications</span>
  <span class="tw-ml-2">
      <fa-icon [icon]="faQuestionCircle" nz-tooltip="List of LORIOT applications"></fa-icon>
  </span>
</ng-template>
<ng-template #extraTemplate>
  @if (checkedApplications.size > 0) {
    <button
      nz-popconfirm
      nzPopconfirmTitle="Are you sure delete this task?"
      (nzOnConfirm)="removeItems()"
      nzPopconfirmPlacement="bottom"
      type="button" nz-button nzType="default" nzSize="small" nzDanger
            [disabled]="disabled"
    >
      <fa-icon [icon]="faTrashAlt" class="tw-mr-2"></fa-icon>Remove

    </button>
  }
  @if (checkedApplications.size === 0) {
    <button type="button" nz-button nzType="primary" nzSize="small"
            (click)="showModal()"
            [disabled]="disabled"
    >
          <span class="tw-mr-2">
            <fa-icon [icon]="faPlus" class="tw-mr-2"></fa-icon>Add
          </span>
    </button>
  }
</ng-template>

<nz-modal [(nzVisible)]="modalVisible" nzTitle="{{ selectedApplication ? 'Edit Application' : 'Add Application'}}" (nzOnCancel)="handleCancel()" (nzOnOk)="submitForm()">
  <ng-container *nzModalContent>
    <app-application #applicationForm [applications]="applications" [application]="selectedApplication" (applicationChange)="onFormSubmit($event)"></app-application>
  </ng-container>
</nz-modal>
