<div class="bg-light lter b-b wrapper-md">
    <div>
        <h1 class="m-n font-thin h3 text-black">HTTP Device</h1>
    </div>
</div>
<div class="wrapper-md">
    <div class="panel panel-default">
        <div class="panel-heading font-bold">
            <i class="fa fa-cog m-r-xs"></i> {{ui.selectedDeviceType}} Settings
            <a href="https://docs.thinger.io/plugins/http-device" target="_blank"><i class="far fa-question-circle text-muted pull-right m-t-xs"></i></a>
        </div>
        <div class="panel-body">
            <form id="form-save-callback" class="form-horizontal form-validation" ng-submit="save()">
                <uib-tabset class="tab-container m-b-none" ng-disabled="save_state==1">

                    <uib-tab heading="Device Types">

                        <div class="row wrapper-xs">
                            <label class="col-sm-4 col-md-2 control-label"><i class="fa fa-cog m-r-xs text-muted"></i>Device Type <i class="fa fa-info-circle text-muted" uib-popover="Select an application to configure its callback properties." popover-trigger="'mouseenter'"></i></label>
                            <div class="col-sm-8 col-md-10">
                                <select class="form-control" name="type" ng-model="ui.selectedDeviceType">
                                    <option value="{{deviceType}}" ng-repeat="(deviceType, value) in settings.value">{{deviceType}}</option>
                                </select>
                                <button type="button" class="btn btn-sm btn-danger btn-addon m-t-sm m-b" ng-click="removeDeviceType(ui.selectedDeviceType)" ng-show="ui.selectedDeviceType!=='Default'"><i class="fa fa-minus"></i>Remove Application</button>
                            </div>
                        </div>

                        <div class="row wrapper-xs">
                            <label class="col-sm-4 col-md-2 control-label"><i class="fa fa-rocket m-r-xs  text-muted"></i>Create Device Type <i class="fa fa-info-circle text-muted" uib-popover="Add new applications to add custom initialization, parsing, etc." popover-trigger="'mouseenter'"></i></label>
                            <div class="col-sm-8 col-md-10">
                                <input type="text" placeholder="Device Type" class="form-control" pattern="[A-Za-z0-9_-]{1,32}" ng-model="ui.deviceType"/>
                                <button type="button" ng-click="createDeviceType(ui.deviceType)" class="btn btn-sm btn-success btn-addon m-t-sm"><i><span class="fa fa-plus"></span></i>Add Device Type</button>
                            </div>
                        </div>

                    </uib-tab>
                    <uib-tab heading="Request Behaviour">

                        <div class="row wrapper-xs">
                            <label class="col-sm-4 col-md-2 control-label"><i class="fa fa-magic m-r-xs text-muted"></i>Auto provision resources <i class="fa fa-info-circle text-muted" uib-popover="Automatically create devices and buckets to store incoming data" popover-trigger="'mouseenter'"></i></label>
                            <div class="m-t-xs col-sm-8 col-md-10">
                                <label class="i-switch bg-success">
                                    <input type="checkbox" ng-model="settings.value[ui.selectedDeviceType].auto_provision_resources">
                                    <i></i>
                                </label>
                            </div>
                        </div>

                        <div ng-if="settings.value[ui.selectedDeviceType].auto_provision_resources">

                            <div class="row wrapper-xs">
                                <label class="col-sm-4 col-md-2 control-label"><i class="fa fa-clock m-r-xs text-muted"></i>Device Connection Timeout <i class="fa fa-info-circle text-muted" uib-popover="Number of minutes without a callback call to consider the device as disconnected" popover-trigger="'mouseenter'"></i></label>
                                <div class="col-sm-8 col-md-10">
                                    <input type="number" placeholder="10" class="form-control" ng-model="settings.value[ui.selectedDeviceType].device_connection_timeout"/>
                                </div>
                            </div>

                            <div class="row wrapper-xs">
                                <label class="col-sm-4 col-md-2 control-label"><i class="fa fa-rocket m-r-xs  text-muted"></i>Device Identifier Prefix <i class="fa fa-info-circle text-muted" uib-popover="Specify a prefix (if required), to be set when creating the new device identifier." popover-trigger="'mouseenter'"></i></label>
                                <div class="col-sm-8 col-md-10">
                                    <input type="text" placeholder="http_" class="form-control" ng-model="settings.value[ui.selectedDeviceType].device_id_prefix"/>
                                </div>
                            </div>

                            <div class="row wrapper-xs">
                              <label class="col-sm-4 col-md-2 control-label"><i class="fa fa-magic m-r-xs text-muted"></i>Auto provision bucket <i class="fa fa-info-circle text-muted" uib-popover="Automatically create bucket for device to store incoming data" popover-trigger="'mouseenter'"></i></label>
                              <div class="m-t-xs col-sm-8 col-md-10">
                                <label class="i-switch bg-success">
                                  <input type="checkbox" ng-model="settings.value[ui.selectedDeviceType].auto_provision_bucket">
                                  <i></i>
                                </label>
                              </div>
                            </div>

                          <div ng-switch="settings.value[ui.selectedDeviceType].auto_provision_bucket.toString()">
                            <div ng-switch-when="true">
                              <div class="row wrapper-xs">
                                <label class="col-sm-4 col-md-2 control-label"><i class="fa fa-database m-r-xs text-muted"></i>Bucket Identifier Prefix <i class="fa fa-info-circle text-muted" uib-popover="Specify a prefix (if required), to be set when creating the new bucket identifier." popover-trigger="'mouseenter'"></i></label>
                                <div class="col-sm-8 col-md-10">
                                  <input type="text" placeholder="http_" class="form-control" ng-model="settings.value[ui.selectedDeviceType].bucket_id_prefix"/>
                                </div>
                              </div>
                            </div>
                            <div ng-switch-when="true">
                              <div class="row wrapper-xs">
                                <label class="col-sm-4 col-md-2 control-label"><i class="fa fa-database m-r-xs text-muted"></i>Assign Bucket <i class="fa fa-info-circle text-muted" uib-popover="Associate the device callback write to an existing Bucket." popover-trigger="'mouseenter'"></i></label>
                                <div class="col-sm-8 col-md-10">
                                  <resource-selector type="Type" model="settings.value[ui.selectedDeviceType].assign_bucket" nullable="true"></resource-selector>
                                </div>
                              </div>
                            </div>
                          </div>

                            <div class="row wrapper-xs">
                                <label class="col-sm-4 col-md-2 control-label"><i class="fas fa-shapes m-r-xs text-muted"></i>Assign Asset Type <i class="fa fa-info-circle text-muted" uib-popover="Associate the device and bucket with a given Asset Type." popover-trigger="'mouseenter'"></i></label>
                                <div class="col-sm-8 col-md-10">
                                    <resource-selector type="Type" model="settings.value[ui.selectedDeviceType].assign_asset_type" nullable="true"></resource-selector>
                                </div>
                            </div>

                            <div class="row wrapper-xs">
                                <label class="col-sm-4 col-md-2 control-label"><i class="fas fa-th m-r-xs text-muted"></i>Assign Asset Group <i class="fa fa-info-circle text-muted" uib-popover="Associate the device and bucket with a given Asset Group." popover-trigger="'mouseenter'"></i></label>
                                <div class="col-sm-8 col-md-10">
                                    <resource-selector type="Group" model="settings.value[ui.selectedDeviceType].assign_asset_group" nullable="true"></resource-selector>
                                </div>
                            </div>

                            <div class="row wrapper-xs">
                                <label class="col-sm-4 col-md-2 control-label"><i class="fas fa-folder m-r-xs text-muted"></i>Assign Project <i class="fa fa-info-circle text-muted" uib-popover="Associate the device and bucket with a given Project" popover-trigger="'mouseenter'"></i></label>
                                <div class="col-sm-8 col-md-10">
                                  <resource-selector type="Project" model="settings.value[ui.selectedDeviceType].assign_project" nullable="true"></resource-selector>
                                </div>
                            </div>

                            <div class="row wrapper-xs">
                                <label class="col-sm-4 col-md-2 control-label"><i class="fas fa-box m-r-xs text-muted"></i>Assign Product <i class="fa fa-info-circle text-muted" uib-popover="Associate the device and bucket with a given Product" popover-trigger="'mouseenter'"></i></label>
                                <div class="col-sm-8 col-md-10">
                                    <resource-selector type="Product" model="settings.value[ui.selectedDeviceType].assign_product" nullable="true"></resource-selector>
                                </div>
                            </div>

                            <div class="row wrapper-xs">
                                <label class="col-sm-4 col-md-2 control-label"><i class="fas fa-cloud-download-alt m-r-xs text-muted"></i>Initialize Response Data <i class="fa fa-info-circle text-muted" uib-popover="Specify a default response data to be stored in the device. It can be any JSON document like a string, object, or array." popover-trigger="'mouseenter'"></i></label>
                                <div class="col-sm-8 col-md-10">
                                    <div ui-ace="{
                                    mode: 'json',
                                    useWrapMode : true,
                                    showGutter: true
                                    }" style="height: 150px; border: 1px solid lightgray;" ng-model="settings.value[ui.selectedDeviceType].device_response_data"></div>
                                </div>
                            </div>
                        </div>

                    </uib-tab>

                    <uib-tab heading="Payload Processing">
                        <div class="row wrapper-xs">
                            <label class="col-sm-4 col-md-2 control-label"><i class="fa fa-cog m-r-xs text-muted"></i>Payload Processing <i class="fa fa-info-circle text-muted" uib-popover="Run a custom callback to process request and response data" popover-trigger="'mouseenter'"></i></label>
                            <div class="m-t-xs col-sm-8 col-md-10">
                                <label class="i-switch bg-success">
                                    <input type="checkbox" ng-model="settings.value[ui.selectedDeviceType].callback_processing">
                                    <i></i>
                                </label>
                            </div>
                        </div>

                        <div ng-if="settings.value[ui.selectedDeviceType].callback_processing">
                            <div class="row wrapper-xs">
                                <label class="col-sm-4 col-md-2 control-label"><i class="fa fa-code m-r-xs text-muted"></i>Code <i class="fa fa-info-circle text-muted" uib-popover="Declare functions for request or response processing" popover-trigger="'mouseenter'"></i></label>
                                <div class="col-sm-8 col-md-10">
                                    <div ui-ace="{
                                  mode: 'javascript',
                                  useWrapMode : true,
                                  showGutter: true
                                }" style="height: 300px; border: 1px solid lightgray;" ng-model="settings.value[ui.selectedDeviceType].callback_code"></div>
                                </div>
                            </div>

                            <div class="row wrapper-xs">
                                <label class="col-sm-4 col-md-2 control-label"><i class="fa fa-flask m-r-xs text-muted"></i>Test Payload Processor <i class="fa fa-info-circle text-muted" uib-popover="Execute the callback to test your custom parsing code" popover-trigger="'mouseenter'"></i></label>
                                <div class="col-sm-8 col-md-10">
                                    <select class="form-control" name="type" ng-model="selected_callback" required>
                                        <option value="request">Request</option>
                                        <option value="response">Response</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row wrapper-xs">
                                <div class="col-sm-4 col-md-2"></div>

                                <div class="col-sm-5">
                                    <div class="m-b-xs">Callback input (JSON)</div>
                                    <div ui-ace="{
                                  mode: 'json',
                                  useWrapMode : true,
                                  showGutter: true
                                }" style="height: 200px; border: 1px solid lightgray;" ng-model="settings.value[ui.selectedDeviceType].callback_data[selected_callback]"></div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="m-b-xs">Callback output (JSON)</div>
                                    <div ui-ace="{
                                  mode: 'json',
                                  useWrapMode : true,
                                  showGutter: true
                                }" style="height: 200px; border: 1px solid lightgray;" ng-model="callback_result" readonly></div>
                                </div>
                            </div>

                            <div class="row wrapper-xs">
                                <div class="col-sm-4 col-md-2"></div>
                                <div class="col-sm-8 col-md-10">
                                    <button type="button" class="btn btn-info btn-addon" ng-click="run_callback(selected_callback, settings.value[ui.selectedDeviceType].callback_data[selected_callback])" ng-disabled="fetch_error || call_state==1"><i><span ng-class="{'fas fa-terminal': call_state!=1, 'fa fa-spinner fa-pulse' : call_state==1}"></span></i>Test {{selected_callback}}</button>
                                </div>
                            </div>

                        </div>


                    </uib-tab>

                    <uib-tab heading="Device Integration">
                        <div class="font-bold m-b-xs"><i class="fa fa-link"></i> Endpoint URL</div>
                        <pre class="bg-black text-white">POST {{plugin.taskUrl}}/types/<strong>{{ui.selectedDeviceType}}</strong>/devices/<strong>device_id</strong>/data</pre>

                        <div class="font-bold m-b-xs"><i class="fa fa-lock"></i> Authorization Header</div>
                        <pre class="bg-black text-white">Bearer {{http_device_plugin_callback}}</pre>

                        <div class="font-bold m-b-xs"><i class="fa fa-code"></i> Supported Content-Types</div>
                        <pre class="bg-black text-white">
application/json
text/plain
application/octet-stream
application/x-www-form-urlencoded</pre>

                        <div class="font-bold m-b-xs"><i class="far fa-file-code"></i> Body Example (application/json)</div>
                        <pre class="bg-black text-white">
{
    "lat": 40.416775,
    "lng":-3.70379,
    "temperature":23.33,
    "humidity":32.44
}</pre>
                    <div class="font-bold m-b-xs"><i class="fa fa-code"></i> Curl Example</div>
                        <pre class="bg-black text-success">
curl \
  -H "Content-Type: application/json;charset=UTF-8" \
  -H "Authorization: Bearer {{http_device_plugin_callback}}" \
  -H "Accept: application/json, text/plain, */*" \
  -X POST \
  -d '{"lat":40.416775,"lng":-3.70379,"temperature":23.33,"humidity":32.44}' \
  {{plugin.taskUrl}}/types/{{ui.selectedDeviceType}}/devices/device_id/data</pre>
                    </uib-tab>

                </uib-tabset>
            </form>
            <pre class="alert alert-danger m-t m-b-none" ng-show="save_state==3"><strong><i class="fas fa-thumbs-down"></i> Ooops!</strong> Cannot process your request. Error {{error_code}} ({{error_message}})</pre>
        </div>
        <footer class="panel-footer text-left bg-light lter">
            <button class="btn btn-success btn-addon" type="submit" form="form-save-callback" ng-disabled="fetch_error || save_state==1"><i><span ng-class="{'fa fa-check': save_state!=1, 'fa fa-spinner fa-pulse' : save_state==1}"></span></i>Save</button>
        </footer>
    </div>
</div>
