<nz-layout class="app-layout">
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <span>ChirpStack</span>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <nz-space nzDirection="vertical" [nzSize]="'large'" style="width: 100%">
          <app-applications *nzSpaceItem></app-applications>
          <app-settings *nzSpaceItem></app-settings>
          <app-inspector *nzSpaceItem></app-inspector>
        </nz-space>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
