/* You can add global styles to this file, and also import other style files */

.app-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

nz-layout {
  height: 100%;
  display: flex;
  flex-direction: column;
}

nz-header {
  flex-shrink: 0;
}

nz-content {
  flex: 1;
  min-height: 0;
}
