<nz-layout class="app-layout">
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <span>TTN</span>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <nz-tabset nzType="card" nzSize="default">
          <nz-tab nzTitle="Applications">
            <app-applications></app-applications>
          </nz-tab>
          <nz-tab nzTitle="Settings">
            <app-settings></app-settings>
          </nz-tab>
          <nz-tab nzTitle="Inspector">
            <app-inspector></app-inspector>
          </nz-tab>
        </nz-tabset>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
